#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Colemak {
            bindings = <
&kp ESCAPE          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4         &kp NUMBER_5  &kp ESCAPE                       &kp ESCAPE      &kp NUMBER_6       &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp N
&lt 5 TAB           &kp Q         &kp W         &kp F         &kp P                &kp B         &kp LS(LC(F6))                   &kp LS(LC(F7))  &kp J              &kp L         &kp U         &kp Y         &kp SLASH     &kp PLUS
&mt LEFT_SHIFT F12  &kp A         &kp R         &kp S         &kp T                &kp G         &kp LS(LC(F3))   &kp LS(LC(F4))  &kp LS(LC(F5))  &kp M              &kp N         &kp E         &kp I         &kp O         &lt 6 F11
&mt LEFT_SHIFT F13  &lt 3 Z       &lt 4 X       &kp C         &kp D                &kp V         &kp LS(LC(F1))   &kp LS(LC(F2))  &kp LS(LC(F3))  &kp K              &kp H         &kp COMMA     &kp DOT       &kp MINUS     &lt 7 F13
&kp ESCAPE          &kp ESCAPE    &kp ESCAPE    &kp ESCAPE    &mt LEFT_ALT DELETE  &kp SPACE     &mt LCMD ESCAPE  &kp F11         &lt 2 ENTER     &mt RIGHT_ALT F10  &kp ESCAPE    &kp ESCAPE    &kp ESCAPE    &kp ESCAPE    &kp ESCAPE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans           &trans       &trans         &trans         &trans         &trans          &trans  &trans        &trans        &trans         &trans        &trans    &trans
&trans  &trans           &kp LS(DQT)  &kp LS(DLLR)   &kp LS(PRCNT)  &trans         &trans          &trans  &trans        &kp LS(LPAR)  &kp SEMI       &kp LS(RPAR)  &trans    &trans
&trans  &kp EXCLAMATION  &kp LS(AT)   &kp LS(POUND)  &kp SQT        &kp LS(CARET)  &trans  &trans  &trans  &kp LS(AMPS)  &kp LBKT      &kp LS(COLON)  &kp RBKT      &kp BSLH  &trans
&trans  &trans           &trans       &trans         &trans         &trans         &trans  &trans  &trans  &trans        &trans        &trans         &trans        &trans    &trans
&trans  &trans           &trans       &trans         &trans         &trans         &trans  &trans  &trans  &trans        &trans        &trans         &trans        &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans         &trans        &trans     &trans  &trans          &trans  &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans  &trans         &trans        &trans     &trans  &trans          &trans  &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans  &kp LS(TILDE)  &kp LS(PIPE)  &kp GRAVE  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &trans  &trans         &trans        &trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans     &trans
&trans  &trans  &trans         &trans        &trans     &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans     &bootloader
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp N1         &kp N2         &kp N3         &kp N4          &kp N5          &trans                           &trans           &kp N6           &kp N7           &kp N8             &kp N9           &kp N0             &trans
&trans  &kp LS(LA(Q))  &kp LS(LA(W))  &kp LS(LA(F))  &kp LS(LA(P))   &kp LS(LA(B))   &trans                           &trans           &kp LA(LS(J))    &kp LA(LS(L))    &kp LS(LA(U))      &kp LS(LA(Y))    &kp LS(LA(FSLH))   &trans
&trans  &kp LS(LA(A))  &kp LS(LA(R))  &kp LS(LA(S))  &kp LS(LA(T))   &kp LA(LS(G))   &trans          &trans           &trans           &kp LS(LA(M))    &kp LS(LA(N))    &kp LS(LA(E))      &kp LS(LA(I))    &kp LS(LA(O))      &trans
&trans  &kp LS(LA(Z))  &kp LS(LA(X))  &kp LS(LA(C))  &kp LA(LS(D))   &kp LS(LA(V))   &trans          &trans           &trans           &kp LS(LA(K))    &kp LS(LA(H))    &kp LA(LS(COMMA))  &kp LA(LS(DOT))  &kp LS(LA(MINUS))  &trans
&trans  &trans         &trans         &trans         &kp LS(LA(F7))  &kp LS(LA(F8))  &kp LS(LA(F9))  &kp LS(LA(F10))  &kp LS(LA(F11))  &kp LS(LA(F12))  &kp LS(LA(F13))  &trans             &trans           &trans             &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans    &trans        &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans     &trans
&trans  &trans  &trans  &trans    &trans        &trans  &trans          &trans  &trans  &kp N7  &kp N8  &kp N9  &trans     &trans
&trans  &trans  &trans  &kp FSLH  &kp EQUAL     &trans  &trans  &trans  &trans  &trans  &kp N4  &kp N5  &kp N6  &kp PLUS   &trans
&trans  &trans  &trans  &trans    &kp LS(STAR)  &trans  &trans  &trans  &trans  &trans  &kp N1  &kp N2  &kp N3  &kp MINUS  &trans
&trans  &trans  &trans  &trans    &trans        &trans  &trans  &trans  &trans  &trans  &kp N0  &trans  &trans  &trans     &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4      &kp F5      &trans              &trans  &kp F6             &kp F7           &kp F8  &kp F9  &kp F10  &kp F11
&trans  &trans  &trans  &trans  &trans      &trans      &trans              &trans  &trans             &trans           &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans      &trans      &trans      &trans  &trans  &trans             &trans           &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans      &trans      &trans      &trans  &trans  &trans             &trans           &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &kp C_PREV  &kp C_PLAY  &kp C_NEXT  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &trans  &trans   &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
